.facebook-community {
	
}
.charity-header {
	background: #63A541 none repeat scroll 0 0;
    padding: 10px;
}
.charity-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.charity-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 161px;
    padding: 10px;
}
.e3ve-charity-article {height:110px;}
.e3ve-charity-article h4 {margin:0 auto 10px; text-transform:uppercase; font-size:13px; color:#aaa;}
.e3ve-charity-article h4 a {color: #236133; text-decoration: none;}
.e3ve-charity-article h4 a:hover {color: #63A541; text-decoration: none;}
.e3ve-charity-article p {margin:0 auto 10px;}
.e3ve-charity-article img {margin-top:0; width: 57px; height: 57px; margin-bottom:10px; background: #d2d2d2 none repeat scroll 0 0; padding: 2px;}
.e3ve-charity-btn {text-align:center; border-top:1px solid #f5f5f5; padding:10px 0;}
.e3ve-charity-btn a {font-weight: bold; text-transform: uppercase; line-height: 40px; display: block; text-decoration: none; background: rgb(35, 97, 51) none repeat scroll 0px 0px; color: rgb(99, 165, 65);}
.e3ve-charity-btn a:hover {background: #63a541 none repeat scroll 0 0; color: #236133;}
.e3ve-home-btn-arrow-left {display: inline-block; position: absolute; width: 0px; height: 0px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; margin: 0 0 0 -28px; border-left: 10px solid rgb(99, 165, 65);}

.e3ve-charity-btn a:hover .e3ve-home-btn-arrow-left {border-left: 10px solid #236133;}
.e3ve-home-btn-arrow-right {display: inline-block; position: absolute; width: 0px; height: 0px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; margin: 0 0 0 18px; border-right: 10px solid rgb(99, 165, 65);}
.e3ve-charity-btn a:hover .e3ve-home-btn-arrow-right {border-right: 10px solid #236133;}
.cff-author {
	border-bottom: 1px solid #c8ceda;
    margin: 0 auto 7px !important;
    padding-bottom: 10px !important;
}
.cff-author a {
	font-family: helvetica,arial,sans-serif;
	font-size: 18px;
	color:#3b5998;
	text-decoration:none;
}
.cff-author a:hover {
	text-decoration:underline;
}
.cff-text {
	color:#9197a3;
}
.cff-text a {
	font-family: helvetica,arial,sans-serif;
	font-size: 14px;
	color:#3b5998;
	font-weight:bold;
	text-decoration:none;
}
.cff-text a:hover {
	text-decoration:underline;
}
.cff-post-links a {
	color:#9197a3;
	text-decoration:none;
}
.cff-post-links a {
	text-decoration:underline;
}
.latest-leads {
	
}
.leads-header {
	background: rgb(0, 0, 0) none repeat scroll 0 0;
    padding: 10px;
}
.leads-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.leads-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 144px;
    padding: 10px;
}
.latest-news {
	
}
.news-header {
	background: rgb(0, 0, 0) none repeat scroll 0 0;
    padding: 10px;
}
.news-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.news-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 144px;
    padding: 10px;
}
.news-body h3 {
	font-size: 14px;
    margin: 0 auto 10px;
    text-transform: uppercase;
}
.news-body h3 a {
	text-decoration:none;
	color: #a7a7a7;
}
.news-body h3 a:hover {
	text-decoration:underline;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.facebook-community {
	
}
.charity-header {
	background: #63A541 none repeat scroll 0 0;
    padding: 10px;
}
.charity-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.charity-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: auto;
    padding: 10px;
}
.e3ve-charity-article {height:110px;}
.e3ve-charity-article h4 {margin:0 auto 10px; text-transform:uppercase; font-size:14px; color:#aaa;}
.e3ve-charity-article h4 a {color: #236133; text-decoration: none;}
.e3ve-charity-article h4 a:hover {color: #63A541; text-decoration: none;}
.e3ve-charity-article p {margin:0 auto 10px;}
.e3ve-charity-article img {margin-top:0; margin-bottom:10px; width: 57px; height: 57px; background: #d2d2d2 none repeat scroll 0 0; padding: 2px;}
.e3ve-charity-btn {text-align:center; border-top:1px solid #f5f5f5; padding:10px 0 0;}
.e3ve-charity-btn a {font-weight: bold; text-transform: uppercase; line-height: 40px; display: block; text-decoration: none; background: rgb(35, 97, 51) none repeat scroll 0px 0px; color: rgb(99, 165, 65);}
.e3ve-charity-btn a:hover {background: #63a541 none repeat scroll 0 0; color: #236133;}
.e3ve-home-btn-arrow-left {display: inline-block; position: absolute; width: 0px; height: 0px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; margin: 0 0 0 -107px; border-left: 10px solid rgb(99, 165, 65);}

.e3ve-charity-btn a:hover .e3ve-home-btn-arrow-left {border-left: 10px solid #236133;}
.e3ve-home-btn-arrow-right {display: inline-block; position: absolute; width: 0px; height: 0px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; margin: 0 0 0 97px; border-right: 10px solid rgb(99, 165, 65);}
.e3ve-charity-btn a:hover .e3ve-home-btn-arrow-right {border-right: 10px solid #236133;}
.cff-author {
	border-bottom: 1px solid #c8ceda;
    margin: 0 auto 7px !important;
    padding-bottom: 10px !important;
}
.cff-author a {
	font-family: helvetica,arial,sans-serif;
	font-size: 18px;
	color:#3b5998;
	text-decoration:none;
}
.cff-author a:hover {
	text-decoration:underline;
}
.cff-text {
	color:#9197a3;
}
.cff-text a {
	font-family: helvetica,arial,sans-serif;
	font-size: 14px;
	color:#3b5998;
	font-weight:bold;
	text-decoration:none;
}
.cff-text a:hover {
	text-decoration:underline;
}
.cff-post-links a {
	color:#9197a3;
	text-decoration:none;
}
.cff-post-links a {
	text-decoration:underline;
}
.latest-leads {
	
}
.leads-header {
	background: rgb(0, 0, 0) none repeat scroll 0 0;
    padding: 10px;
}
.leads-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.leads-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 144px;
    padding: 10px;
}
.latest-news {
	
}
.news-header {
	background: rgb(0, 0, 0) none repeat scroll 0 0;
    padding: 10px;
}
.news-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.news-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 144px;
    padding: 10px;
}
.news-body h3 {
	font-size: 14px;
    margin: 0 auto 10px;
    text-transform: uppercase;
}
.news-body h3 a {
	text-decoration:none;
	color: #a7a7a7;
}
.news-body h3 a:hover {
	text-decoration:underline;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.facebook-community {
	
}
.charity-header {
	background: #63A541 none repeat scroll 0 0;
    padding: 10px;
}
.charity-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.charity-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 141px;
    padding: 10px;
}
.e3ve-charity-article {height: 92px;}
.e3ve-charity-article h4 {margin:0 auto 10px; text-transform:uppercase; font-size: 11px; color:#aaa;}
.e3ve-charity-article h4 a {color: #236133; text-decoration: none;}
.e3ve-charity-article h4 a:hover {color: #63A541; text-decoration: none;}
.e3ve-charity-article p {margin:0 auto 10px; font-size: 10px;}
.e3ve-charity-article img {margin-top:0; margin-bottom:10px; width: 57px; height: 57px; background: #d2d2d2 none repeat scroll 0 0; padding: 2px;}
.e3ve-charity-btn {text-align:center; border-top:1px solid #f5f5f5; padding:9px 0;}
.e3ve-charity-btn a {font-size: 10px; font-weight: bold; text-transform: uppercase; line-height: 40px; display: block; text-decoration: none; background: rgb(35, 97, 51) none repeat scroll 0px 0px; color: rgb(99, 165, 65);}
.e3ve-charity-btn a:hover {background: #63a541 none repeat scroll 0 0; color: #236133;}
.e3ve-home-btn-arrow-left {display: inline-block; position: absolute; width: 0px; height: 0px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; margin: 0 0 0 -27px; border-left: 10px solid rgb(99, 165, 65);}

.e3ve-charity-btn a:hover .e3ve-home-btn-arrow-left {border-left: 10px solid #236133;}
.e3ve-home-btn-arrow-right {display: inline-block; position: absolute; width: 0px; height: 0px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; margin: 0 0 0 18px; border-right: 10px solid rgb(99, 165, 65);}
.e3ve-charity-btn a:hover .e3ve-home-btn-arrow-right {border-right: 10px solid #236133;}
.cff-author {
	border-bottom: 1px solid #c8ceda;
    margin: 0 auto 7px !important;
    padding-bottom: 10px !important;
}
.cff-author a {
	font-family: helvetica,arial,sans-serif;
	font-size: 18px;
	color:#3b5998;
	text-decoration:none;
}
.cff-author a:hover {
	text-decoration:underline;
}
.cff-text {
	color:#9197a3;
}
.cff-text a {
	font-family: helvetica,arial,sans-serif;
	font-size: 14px;
	color:#3b5998;
	font-weight:bold;
	text-decoration:none;
}
.cff-text a:hover {
	text-decoration:underline;
}
.cff-post-links a {
	color:#9197a3;
	text-decoration:none;
}
.cff-post-links a {
	text-decoration:underline;
}
.latest-leads {
	
}
.leads-header {
	background: rgb(0, 0, 0) none repeat scroll 0 0;
    padding: 10px;
}
.leads-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.leads-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 157px;
    padding: 10px;
}
.latest-news {
	
}
.news-header {
	background: rgb(0, 0, 0) none repeat scroll 0 0;
    padding: 10px;
}
.news-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.news-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 157px;
    padding: 10px;
}
.news-body h3 {
	font-size: 14px;
    margin: 0 auto 10px;
    text-transform: uppercase;
}
.news-body h3 a {
	text-decoration:none;
	color: #a7a7a7;
}
.news-body h3 a:hover {
	text-decoration:underline;
}
}

/* Desktop Layout: 970px to a max of 100%.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 970px) {
.facebook-community {
	
}
.charity-header {
	background: #63A541 none repeat scroll 0 0;
    padding: 10px;
}
.charity-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.charity-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 161px;
    padding: 10px;
}
.e3ve-charity-article {height:110px;}
.e3ve-charity-article h4 {margin:0 auto 10px; text-transform:uppercase; font-size:14px; color:#aaa;}
.e3ve-charity-article h4 a {color: #236133; text-decoration: none;}
.e3ve-charity-article h4 a:hover {color: #63A541; text-decoration: none;}
.e3ve-charity-article p {margin:0 auto 10px;}
.e3ve-charity-article img {margin-top:0; margin-bottom:10px; width: 70px; height: 70px; background: #d2d2d2 none repeat scroll 0 0; padding: 2px;}
.e3ve-charity-btn {text-align:center; border-top:1px solid #f5f5f5; padding:10px 0;}
.e3ve-charity-btn a {font-weight: bold; text-transform: uppercase; line-height: 40px; display: block; text-decoration: none; background: rgb(35, 97, 51) none repeat scroll 0px 0px; color: rgb(99, 165, 65);}
.e3ve-charity-btn a:hover {background: #63a541 none repeat scroll 0 0; color: #236133;}
.e3ve-home-btn-arrow-left {display: inline-block; position: absolute; width: 0px; height: 0px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; margin: 0px 0px 0px -61px; border-left: 10px solid rgb(99, 165, 65);}

.e3ve-charity-btn a:hover .e3ve-home-btn-arrow-left {border-left: 10px solid #236133;}
.e3ve-home-btn-arrow-right {display: inline-block; position: absolute; width: 0px; height: 0px; border-top: 20px solid transparent; border-bottom: 20px solid transparent; margin: 0px 0px 0px 50px; border-right: 10px solid rgb(99, 165, 65);}
.e3ve-charity-btn a:hover .e3ve-home-btn-arrow-right {border-right: 10px solid #236133;}
.cff-author {
	border-bottom: 1px solid #c8ceda;
    margin: 0 auto 7px !important;
    padding-bottom: 10px !important;
}
.cff-author a {
	font-family: helvetica,arial,sans-serif;
	font-size: 18px;
	color:#3b5998;
	text-decoration:none;
}
.cff-author a:hover {
	text-decoration:underline;
}
.cff-text {
	color:#9197a3;
}
.cff-text a {
	font-family: helvetica,arial,sans-serif;
	font-size: 14px;
	color:#3b5998;
	font-weight:bold;
	text-decoration:none;
}
.cff-text a:hover {
	text-decoration:underline;
}
.cff-post-links a {
	color:#9197a3;
	text-decoration:none;
}
.cff-post-links a {
	text-decoration:underline;
}
.latest-leads {
	
}
.leads-header {
	background: rgb(0, 0, 0) none repeat scroll 0 0;
    padding: 10px;
}
.leads-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.leads-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 144px;
    padding: 10px;
}
.latest-news {
	
}
.news-header {
	background: rgb(0, 0, 0) none repeat scroll 0 0;
    padding: 10px;
}
.news-header h4 {
	color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.news-body {
	background: transparent linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(229, 229, 229) 100%) repeat scroll 0 0;
    height: 144px;
    padding: 10px;
}
.news-body h3 {
	font-size: 14px;
    margin: 0 auto 10px;
    text-transform: uppercase;
}
.news-body h3 a {
	text-decoration:none;
	color: #a7a7a7;
}
.news-body h3 a:hover {
	text-decoration:underline;
}
}