/**Resposive menu**/
/**Resposive menu**/
.main-nav {
	display:none;
	position: relative;
}
.main-nav ul {
    border: 0 none;
    display: block;
    height: auto !important;
    left: 0;
    margin: 0 auto !important;
    padding: 0 !important;
    position: absolute;
    top: 44px;
    width: 100%;
	z-index: 9;
}
.main-nav ul li {
    display: block !important;
    float: none;
    height: auto !important;
    margin: 0 auto !important;
    position: relative;
    top: 0;
}
.main-nav ul li a {
	background: #000000 none no-repeat scroll 0 0;
    border-bottom: 1px solid #575757 !important;
    border-top: 1px solid #848484 !important;
    color: #fff !important;
    display: block !important;
    line-height: 30px !important;
    position: relative !important;
    text-align: center;
    top: 0 !important;
    transition: all 0.3s ease 0s;
}
.main-nav ul li a:hover {
	background: #bcbcbc none no-repeat scroll 0 0;
    color: #d7090a !important;
    position: relative !important;
    top: 0 !important;
}
.main-nav ul ul a {
	background: #bcbcbc none no-repeat scroll 0 0;
    color: #000 !important;
    width: auto;
}
.main-nav ul ul a:hover {
	background: none no-repeat scroll #eaeaea;
    width:auto;
}
.main-nav ul ul {
	background: transparent none repeat scroll 0 0;
    border: none;
    box-shadow: none;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
	top:-9999999px;
}
.main-nav ul ul li {
	display:inline;
}
.main-nav ul li:hover > ul {
    position:relative;
	top:0;
	opacity:1;
}
#show-nav {
	display: block;
    float: right;
    left: -15px;
    overflow: hidden;
    position: relative;
    width: 120px;
	z-index: 9;
}
#show-nav a {
    background: #290000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    float: right;
    height: 34px;
    line-height: 30px;
    margin: 5px auto;
    padding: 0 20px 0 31px;
}
#hide-nav {
	display:none;
	text-align:left;
}
#hide-nav a {
    background: #6ec0ce none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    line-height: 30px;
    padding: 0 20px;
}
/**Toggle Menu**/
.box-shadow-menu {
  	position: relative;
 	 padding-left: 1.25em;
}
.box-shadow-menu:before {
  	background: #d7090a none repeat scroll 0 0;
    box-shadow: 0 1em 0 0 #d7090a, 0 0.5em 0 0 #d7090a;
    content: "";
    height: 0.35em;
    left: 7.5px;
    position: absolute;
    top: 0.65em;
    width: 2.8em;
}
#pagecontent {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
#pagemain {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
#pagesidebar {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
/**Toggle Menu**/
/**Resposive menu**/

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
/**Resposive menu**/
.main-nav {
	display:none;
	position: relative;
}
.main-nav ul {
    border: 0 none;
    display: block;
    height: auto !important;
    left: 0;
    margin: 0 auto !important;
    padding: 0 !important;
    position: absolute;
    top: 100%;
    width: 100%;
	z-index: 9;
}
.main-nav ul li {
    display: block !important;
    float: none;
    height: auto !important;
    margin: 0 auto !important;
    position: relative;
    top: 0;
}
.main-nav ul li a {
	background: #000000 none no-repeat scroll 0 0;
    border-bottom: 1px solid #575757 !important;
    border-top: 1px solid #848484 !important;
    color: #fff !important;
    display: block !important;
    line-height: 30px !important;
    position: relative !important;
    text-align: center;
    top: 0 !important;
    transition: all 0.3s ease 0s;
}
.main-nav ul li a:hover {
	background: #bcbcbc none no-repeat scroll 0 0;
    color: #d7090a !important;
    position: relative !important;
    top: 0 !important;
}
.main-nav ul ul a {
	background: #bcbcbc none no-repeat scroll 0 0;
    color: #000 !important;
    width: auto;
}
.main-nav ul ul a:hover {
	background: none no-repeat scroll #eaeaea;
    width:auto;
}
.main-nav ul ul {
	background: transparent none repeat scroll 0 0;
    border: none;
    box-shadow: none;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
	top:-9999999px;
}
.main-nav ul ul li {
	display:inline;
}
.main-nav ul li:hover > ul {
    position:relative;
	top:0;
	opacity:1;
}
#show-nav {
	display: block;
    float: right;
    left: -15px;
    overflow: hidden;
    position: relative;
    width: 120px;
	z-index: 9;
}
#show-nav a {
    background: #290000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    float: right;
    height: 34px;
    line-height: 30px;
    margin: 5px auto;
    padding: 0 20px 0 31px;
}
#hide-nav {
	display:none;
	text-align:left;
}
#hide-nav a {
    background: #6ec0ce none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    line-height: 30px;
    padding: 0 20px;
}
/**Toggle Menu**/
.box-shadow-menu {
  	position: relative;
 	 padding-left: 1.25em;
}
.box-shadow-menu:before {
  	background: #d7090a none repeat scroll 0 0;
    box-shadow: 0 1em 0 0 #d7090a, 0 0.5em 0 0 #d7090a;
    content: "";
    height: 0.35em;
    left: 7.5px;
    position: absolute;
    top: 0.65em;
    width: 2.8em;
}
#pagecontent {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
#pagemain {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
#pagesidebar {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
/**Toggle Menu**/
/**Resposive menu**/
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
/**Resposive menu**/
.main-nav {
	display:none;
	position: relative;
}
.main-nav ul {
    border: 0 none;
    display: block;
    height: auto !important;
    left: 0;
    margin: 0 auto !important;
    padding: 0 !important;
    position: absolute;
    top: 44px;
    width: 100%;
    z-index: 9;
}
.main-nav ul li {
    display: block !important;
    float: none;
    height: auto !important;
    margin: 0 auto !important;
    position: relative;
    top: 0;
}
.main-nav ul li a {
	background: #000000 none no-repeat scroll 0 0;
    border-bottom: 1px solid #575757;
    border-top: 1px solid #848484;
    color: #fff !important;
    display: block !important;
    line-height: 30px !important;
    position: relative !important;
    text-align: center;
    top: 0 !important;
    transition: all 0.3s ease 0s;
}
.main-nav ul li a:hover {
	background: #bcbcbc none no-repeat scroll 0 0;
    color: #d7090a !important;
    position: relative !important;
    top: 0 !important;
}
.main-nav ul ul a {
	background: #bcbcbc none no-repeat scroll 0 0;
    color: #000 !important;
    width: auto;
}
.main-nav ul ul a:hover {
	background: none no-repeat scroll #eaeaea;
    width:auto;
}
.main-nav ul ul {
	background: transparent none repeat scroll 0 0;
    border: none;
    box-shadow: none;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
	top:-9999999px;
}
.main-nav ul ul li {
	display:inline;
}
.main-nav ul li:hover > ul {
    position:relative;
	top:0;
	opacity:1;
}
#show-nav {
	display: block;
    float: right;
    left: -15px;
    overflow: hidden;
    position: relative;
    width: 120px;
	z-index: 9;
}
#show-nav a {
    background: #290000 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    float: right;
    height: 34px;
    line-height: 30px;
    margin: 5px auto;
    padding: 0 20px 0 31px;
}
#hide-nav {
	display:none;
	text-align:left;
}
#hide-nav a {
    background: #6ec0ce none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    line-height: 30px;
    padding: 0 20px;
}
/**Toggle Menu**/
.box-shadow-menu {
  	position: relative;
 	 padding-left: 1.25em;
}
.box-shadow-menu:before {
  	background: #d7090a none repeat scroll 0 0;
    box-shadow: 0 1em 0 0 #d7090a, 0 0.5em 0 0 #d7090a;
    content: "";
    height: 0.35em;
    left: 7.5px;
    position: absolute;
    top: 0.65em;
    width: 2.8em;
}
#pagecontent {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
#pagemain {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
#pagesidebar {
  clear: both;
  float: left;
  margin-left: 0;
  width: 100%;
  display: block;
}
/**Toggle Menu**/
/**Resposive menu**/
}

/* Desktop Layout: 970px to a max of 100%.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 970px) {
/**Resposive menu**/
.main-nav {
	display:block;
}
.main-nav ul {
    display: table;
    float: none;
    width: 100%;
	border: 0 none;
    height: auto !important;
    left: 0;
    margin: 0 auto !important;
    padding: 0 !important;
    position: absolute;
    top: 100%;
}
.main-nav ul li {
	border-left: 1px solid #6e0c0c;
    border-right: 1px solid #f83536;
    display: inline !important;
    float: left;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.main-nav ul li:last-child {
	border-right:none;
	margin-right: 0;
    padding: 0;
}
.main-nav ul li:first-child {
	border-left:none;
}
.main-nav ul li a {
	background: transparent none no-repeat scroll 0 0;
    border-bottom: medium none;
    border-top: medium none;
    transition: all 0.3s ease 0s;
}
.main-nav ul li a:hover {
	background: transparent none no-repeat scroll 0 0;
    color: #d7090a;
    text-decoration: none;
}
.main-nav ul ul a {
	background: #f5f5f5 none no-repeat scroll 0 0;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #fff;
    color: #909090 !important;
    position: relative;
    text-align: left;
    top: 0 !important;
}
.main-nav ul ul a:hover {
	background: #eaeaea none repeat scroll 0 0;
}
.main-nav ul ul {
	background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0 !important;
    border: medium none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 240px;
    z-index: 9;
}
.main-nav ul ul li {
	background: #f5f5f5 none repeat scroll 0 0 !important;
    border: medium none;
    display: inline !important;
    margin-top: 0 !important;
    width: 100%;
}
.main-nav ul li > ul {
    opacity: 0;
	padding: 10px !important;
    position: absolute;
    top: -1000px;
}
.main-nav ul li:hover > ul {
    opacity: 1;
    position: absolute;
    top: 100%;
}
#show-nav {
	display:none;
}
#hide-nav {
	display:none;
	text-align:right;
}
/**Resposive menu**/
}